*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.p_layout{
    width:100%;
    min-height:100vh;
    background-color:beige;
    display:flex;
    flex-direction:column;
}
p{
    font-size:17px;
}
.h_logo{
    position:fixed;
    left:10px;
    top:0px;
    width:74px;
    height:66px;
    background-color:beige;
}
.h_maintitle{
    position:fixed;
    padding-left:90px;
    padding-top:8px;
    font-size:51px;
    font:bold;
    width:100%;
    text-align:left;
    background-color:beige;
}
.h_banner{
    width:100%;
    height:40vh;
    object-fit:cover;
    object-position:0% 30%;
    margin-top:65px;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.h_nav{
    position:fixed;
    margin-left:860px;
    margin-top:30px;
    background-color:beige;
    padding:5px;
}
.h_a_home,.h_a_about,.h_a_contact{
    text-decoration:none;
    transform:none;
    color:black;
}
.h_nav a{
    font-size:17px;
    margin:0px 10px;
    text-decoration:none;
    padding:5px;
    color: rgb(139, 42, 42);
    border: 1px solid rgb(139, 42, 42);
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}
.h_nav a:hover{
    background: none;
    transform: scale(.9);
    color:beige;
    background-color:rgb(139, 42, 42);
}
.m_layout{
    flex-grow:1;
}
.m_sub{
    text-align:center;
    color:black;
    border-bottom:1px solid black;
    border-radius:8px;
    margin-top:2px;
    padding-bottom:3px;
    width:100%;
    font-size:30px;
}
.m_container_1{
    display:flex;
    justify-content:space-evenly;
    width:100%;
}
.m_section{
    top:12px;
    padding:5px;
    margin-top:10px;
}
.m_section h3{
    font-style:italic;
    text-align:center;
}
.m_section p{
    text-align:center;
}
.m_img_1,.m_img_2{
    width:180px;
    height:130px;
    margin-top:30px;
}
.m_container_2{
    display:flex;
    flex-direction:column;
    width:100%;
}
.m_article{
    display:flex;
    margin-top:15px;
    align-self:center;
}
.m_article h3{
    display:flex;
    text-align:left;
    width:10vw;
}
.m_article p{
    display:flex;
    align-self:center;
    margin-left:70px;
    width:60ch;
}
.m_ptotal{
    display:flex;
    flex-direction:column;
    width:100%;
}
.m_ptotal p{
    margin-top:15px;
    text-align:center;
}
.m_ptotal a{
    color:rgb(139, 42, 42);
    text-decoration:underline;
    text-decoration-color:black;
}
.img_3{
    display:flex;
    align-self:center;
    margin-top:15px;
    width:180px;
    height:130px;
}