.table_div{
    display:flex;
    justify-content:center;
    width:100%;
}
.principal_container{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
}
.m_title{
    font-weight:normal;
    font-style:italic;
}
.t1{
    table-layout:fixed;
    text-align:right;
    padding: 5px;
    border:1px dotted #253659;
    width:100%;
}
td:first-child {
  text-align:right;
}
caption{
    text-align:left;
    font-style:italic;
    text-decoration-line:underline;
    margin-bottom:18px;
}
.table_container{
    display:flex;
    flex-direction:column;
    align-self:center;
    width:70%;
    gap:8px;
    margin-top:25px;
}
.t2{
    table-layout: fixed;
    border-collapse: collapse;
    gap:5px;
    border:1px dotted #253659;
    width:100%;
    margin-bottom:5px;
}
.t2 th{
    font-weight: bold;
    text-align:center;
}
.t2 td{
    text-align:center;
    padding:2px;
}
iframe{
    width:150px;
    height:110px;
}